<footer class="footer d-lg-block d-none">
  <div class="container">
    <div class="row justify-content-between d-flex">
      <!-- Company Info -->
      <div class="col-md-4">
        <p class="company-name">Done Web Design</p>
        <div class="contact-info">
          <div class="contact-item">
            <span class="material-icons-outlined">language</span>
            <span>{{ "n43" | translate }}</span>
          </div>
          <div class="contact-item">
            <span class="material-icons-outlined">mail</span>
            <span>{{ "n44" | translate }}</span>
            <a
              href="mailto:conludo.office@yahoo.com"
              target="_blank"
              class="contact-nr"
            >
              conludo.office&#64;yahoo.com
            </a>
          </div>
          <div class="contact-item mb-0">
            <span class="material-icons-outlined">call</span>
            <span>{{ "n45" | translate }}</span>
            <a
              href="https://wa.me/40734102096"
              target="_blank"
              class="contact-nr"
            >
              +40734102096</a
            >
          </div>
        </div>
      </div>

      <!-- Quick Navigation -->
      <div class="col-auto mt-4">
        <div class="quick-nav row">
          <h3 class="nav-title col-auto pt-1">{{ "n46" | translate }}</h3>
          <div class="nav-links col-auto">
            <div class="nav-row">
              <a
                [routerLink]="['/']"
                [fragment]="'development-process'"
                (click)="scrollToElement('development-process')"
                >{{ "n47" | translate }}</a
              >
              <a
                [routerLink]="['/']"
                [fragment]="'industries'"
                (click)="scrollToElement('industries')"
                >{{ "n48" | translate }}</a
              >
            </div>
            <div class="nav-row">
              <a
                [routerLink]="['/']"
                [fragment]="'top-challenges'"
                (click)="scrollToElement('top-challenges')"
                >{{ "n49" | translate }}</a
              >
              <a
                [routerLink]="['/']"
                [fragment]="'contact-us'"
                (click)="scrollToElement('contact-us')"
                >{{ "n50" | translate }}</a
              >
            </div>
            <div class="nav-row">
              <a [routerLink]="['/cookies']">{{ "n51" | translate }}</a>
              <a [routerLink]="['/terms']">{{ "n52" | translate }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row down-footer justify-content-between d-flex">
      <div class="col-auto">
        <img
          src="/dwd-logo-3.png"
          alt="Done Web Design Logo"
          class="logo-footer"
        />
      </div>
      <div class="col-auto">
        <div class="country-info">
          <div class="flags">
            <button
              class="flag-item"
              [ariaSelected]="lang === 'ro'"
              value="ro"
              (click)="changeLang('ro')"
            >
              <img src="/romania.png" alt="Romanian Flag" />
              <span class="flag-text">Romania</span>
            </button>
            <button
              class="flag-item"
              [ariaSelected]="lang === 'en'"
              value="en"
              (click)="changeLang('en')"
            >
              <img src="/europe.png" alt="European Union Flag" />
              <span class="flag-text">European Union</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<footer class="footer d-lg-none">
  <div class="container">
    <div class="row justify-content-between d-flex">
      <div class="col-12 mt-4">
        <div class="quick-nav mb-5">
          <h3 class="nav-title col-auto pt-1">{{ "n46" | translate }}</h3>
          <div class="nav-links col-auto">
            <div class="nav-row">
              <a
                [routerLink]="['/']"
                [fragment]="'development-process'"
                (click)="scrollToElement('development-process')"
                >{{ "n47" | translate }}</a
              >
              <a
                [routerLink]="['/']"
                [fragment]="'industries'"
                (click)="scrollToElement('industries')"
                >{{ "n48" | translate }}</a
              >
            </div>
            <div class="nav-row">
              <a
                [routerLink]="['/']"
                [fragment]="'top-challenges'"
                (click)="scrollToElement('top-challenges')"
                >{{ "n49" | translate }}</a
              >
              <a
                [routerLink]="['/']"
                [fragment]="'contact-us'"
                (click)="scrollToElement('contact-us')"
                >{{ "n50" | translate }}</a
              >
            </div>
            <div class="nav-row">
              <a [routerLink]="['/cookies']">{{ "n51" | translate }}</a>
              <a [routerLink]="['/terms']">{{ "n52" | translate }}</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Company Info -->
      <div class="col-12 down-footer mb-5">
        <p class="company-name">Done Web Design</p>
        <div class="contact-info">
          <div class="contact-item">
            <span class="material-icons-outlined">language</span>
            <span>{{ "n43" | translate }}</span>
          </div>
          <div class="contact-item">
            <span class="material-icons-outlined">mail</span>
            <span>{{ "n44" | translate }}</span>
            <a
              href="mailto:conludo.office@yahoo.com"
              target="_blank"
              class="contact-nr"
            >
              conludo.office&#64;yahoo.com
            </a>
          </div>
          <div class="contact-item mb-0">
            <span class="material-icons-outlined">call</span>
            <span>{{ "n45" | translate }}</span>
            <a
              href="https://wa.me/40734102096"
              target="_blank"
              class="contact-nr"
            >
              +40734102096</a
            >
          </div>
        </div>
      </div>

      <!-- Quick Navigation -->
    </div>
    <div class="row down-footer justify-content-between d-flex">
      <div class="col-12 d-flex justify-content-center">
        <img
          src="/dwd-logo-3.png"
          alt="Done Web Design Logo"
          class="logo-footer"
        />
      </div>
      <div class="col-12">
        <div class="country-info">
          <div class="flags">
            <button
              [ariaSelected]="lang === 'ro'"
              value="ro"
              (click)="changeLang('ro')"
              class="flag-item"
            >
              <img src="/romania.png" alt="Romanian Flag" />
              <span class="flag-text">Romania</span>
            </button>
            <button
              [ariaSelected]="lang === 'en'"
              value="en"
              (click)="changeLang('en')"
              class="flag-item"
            >
              <img src="/europe.png" alt="European Union Flag" />
              <span class="flag-text">European Union</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
