<div class="faqs-container">
  <div class="title-container">
    <p class="title m-0">{{ "n64" | translate }}</p>
    <p class="subtitle">
      {{ "n65" | translate }}
    </p>
  </div>
  <div class="faqs-list">
    <div class="faq-item">
      <p class="question">{{ "n66" | translate }}</p>
      <div class="answer">
        <p class="font-weight-bold">
          {{ "n67" | translate }}
        </p>
        <p class="m-1">{{ "n68" | translate }}</p>
        <p class="m-1">{{ "n69" | translate }}</p>
        <p class="m-1">{{ "n70" | translate }}</p>
        <p class="m-1">{{ "n71" | translate }}</p>
        <p class="m-1">{{ "n72" | translate }}</p>
        <p class="m-1">{{ "n73" | translate }}</p>
      </div>
    </div>
    <div class="faq-item mt-4">
      <p class="question">{{ "n74" | translate }}</p>
      <div class="answer">
        <p class="font-weight-bold">
          {{ "n75" | translate }}
        </p>
        <p class="m-1">{{ "n76" | translate }}</p>
        <p class="m-1">{{ "n77" | translate }}</p>
        <p class="m-1">{{ "n78" | translate }}</p>
        <p class="m-1">{{ "n79" | translate }}</p>
        <p class="m-1">{{ "n80" | translate }}</p>
        <p class="m-1">{{ "n81" | translate }}</p>
        <p class="m-1">
          {{ "n82" | translate }}
        </p>
      </div>
    </div>
    <div class="faq-item mt-4">
      <p class="question">{{ "n83" | translate }}</p>
      <div class="answer">
        <p class="font-weight-bold">
          {{ "n84" | translate }}
        </p>
      </div>
    </div>
    <div class="faq-item mt-4">
      <p class="question">{{ "n85" | translate }}</p>
      <div class="answer">
        <p class="font-weight-bold">
          {{ "n86" | translate }}
        </p>
      </div>
    </div>
    <div class="faq-item mt-4">
      <p class="question">{{ "n87" | translate }}</p>
      <div class="answer">
        <p class="font-weight-bold">
          {{ "n88" | translate }}
        </p>
      </div>
    </div>
    <div class="faq-item mt-4">
      <p class="question">
        {{ "n89" | translate }}
      </p>
      <div class="answer">
        <p class="font-weight-bold">
          {{ "n90" | translate }}
        </p>
      </div>
    </div>
    <div class="faq-item mt-4">
      <p class="question">{{ "n91" | translate }}</p>
      <div class="answer">
        <p class="font-weight-bold">
          {{ "n92" | translate }}
        </p>
      </div>
    </div>
    <div class="faq-item mt-4">
      <p class="question">{{ "n93" | translate }}</p>
      <div class="answer">
        <p class="font-weight-bold">
          {{ "n94" | translate }}
        </p>
      </div>
    </div>
    <div class="faq-item mt-4">
      <p class="question">{{ "n95" | translate }}</p>
      <div class="answer">
        <p class="font-weight-bold">
          {{ "n96" | translate }}
        </p>
      </div>
    </div>
    <div class="faq-item mt-4">
      <p class="question">{{ "n97" | translate }}</p>
      <div class="answer">
        <p class="font-weight-bold">{{ "n98" | translate }}</p>
        <a
          href="mailto:conludo.office@yahoo.com"
          target="_blank"
          class="mt-3 contact-nr"
        >
          <span class="font-weight-bold">Email: </span
          >conludo.office&#64;yahoo.com
        </a>
        <p class="mt-4">
          <span class="font-weight-bold">Address: </span>Str. Maria Rosetti
          no.36, Bucharest, Romania
        </p>
        <a href="tel:+40734102096" target="_blank" class="mt-4 contact-nr">
          <span class="font-weight-bold">Phone: </span>+40 734 102 096
        </a>
      </div>
    </div>
  </div>
</div>
