<div class="about-container">
  <div class="row d-flex m-0 justify-content-center">
    <img
      class="align-self-end col-auto d-md-block d-none"
      src="/about-dwd.png"
      alt="about-us"
    />
    <img
      class="align-self-end col-auto d-md-none"
      src="/about-us-mobile.png"
      alt="about-us"
    />
    <div class="col-auto container align-self-start m-1 my-4">
      <div class="d-flex flex-column justify-content-center mt-3">
        <p class="heading">{{ "n54" | translate }}</p>
        <p class="sub-heading">
          {{ "n55" | translate }}
        </p>
      </div>
      <span class="material-icons-outlined mx-3">verified_user</span>
      <div class="line"></div>
    </div>
    <div class="col-auto container align-self-end m-1 my-4">
      <div class="d-flex flex-column justify-content-center mt-3">
        <p class="heading">{{ "n56" | translate }}</p>
        <p class="sub-heading">
          {{ "n57" | translate }}
        </p>
      </div>
      <span class="material-icons-outlined mx-3">bookmark</span>
      <div class="line"></div>
    </div>
  </div>
  <div class="row ps-5 pe-6 d-flex m-0 justify-content-center my-4">
    <div class="col-auto container ms-5 align-self-start m-1">
      <div class="d-flex flex-column justify-content-center mt-3">
        <p class="heading">{{ "n58" | translate }}</p>
        <p class="sub-heading">
          {{ "n59" | translate }}
        </p>
      </div>
      <span class="material-icons-outlined mx-3">emoji_objects</span>
      <div class="line"></div>
    </div>
    <div class="col-auto container align-self-end m-1 my-4">
      <div class="d-flex flex-column justify-content-center mt-3">
        <p class="heading">{{ "n60" | translate }}</p>
        <p class="sub-heading">
          {{ "n61" | translate }}
        </p>
      </div>
      <span class="material-icons-outlined mx-3">handshake</span>
      <div class="line"></div>
    </div>
    <div class="col-auto container align-self-start m-1 my-4">
      <div class="d-flex flex-column justify-content-center mt-3">
        <p class="heading">{{ "n62" | translate }}</p>
        <p class="sub-heading">
          {{ "n63" | translate }}
        </p>
      </div>
      <span class="material-icons-outlined mx-3">visibility</span>
      <div class="line"></div>
    </div>
  </div>
</div>
<app-challanges></app-challanges>
<app-contact-us></app-contact-us>
