<div class="solutions-container d-none d-md-flex">
  <div class="gap-1">
    <p class="title">{{ "n18" | translate }}</p>
    <p class="subtitle">{{ "n19" | translate }}</p>
  </div>
  <div class="gap-2 d-flex">
    <div class="card">
      <p class="card-title">{{ "n20" | translate }}</p>
      <div class="card-content px-4">
        <p class="card-subtitle">{{ "n21" | translate }}</p>
        <p class="card-description">
          {{ "n22" | translate }}
        </p>
      </div>
    </div>
    <div class="card">
      <p class="card-title">{{ "n23" | translate }}</p>
      <div class="card-content px-4">
        <p class="card-subtitle">{{ "n24" | translate }}</p>
        <p class="card-description">
          {{ "n25" | translate }}
        </p>
      </div>
    </div>
  </div>
</div>
<div class="solutions-container d-md-none">
  <div class="gap-1">
    <p class="title">{{ "n18" | translate }}</p>
    <p class="subtitle">{{ "n19" | translate }}</p>
  </div>
  <div class="gap-2 d-flex flex-column">
    <div class="card">
      <p class="card-title">{{ "n20" | translate }}</p>
      <div class="card-content px-4">
        <p class="card-subtitle">{{ "n21" | translate }}</p>
        <p class="card-description">
          {{ "n22" | translate }}
        </p>
      </div>
    </div>
    <div class="card">
      <p class="card-title mt-5">{{ "n23" | translate }}</p>
      <div class="card-content px-4">
        <p class="card-subtitle">{{ "n24" | translate }}</p>
        <p class="card-description">
          {{ "n25" | translate }}
        </p>
      </div>
    </div>
  </div>
</div>
