@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global baseline */
html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
  background: radial-gradient(circle at 15% 20%, rgba(18, 104, 179, 0.2), transparent 25%),
    radial-gradient(circle at 80% 0%, rgba(255, 255, 255, 0.08), transparent 30%),
    #0d0f15;
  color: #e8ecf3;
}

.space-grotesk {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
}

.ibm-plex-sans {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
}

section[id] {
  scroll-margin-top: 90px;
}
